h1{
  color: rgb(36, 98, 145);
  text-align: center;
}
main{
  display: flex;
}
#list{
  background-color: rgb(237, 239, 241);
  min-height: 60px;
  flex: 7;
}

#form{
  background-color: whitesmoke;
  min-height: 60px;
  flex: 5;
}
.not-important{
  font-size: 35px;
  font-weight: 200;
  color: #6a6a6b;
  cursor: pointer;
}
.not-important:hover{
  color: tomato;
}
.important {
  font-size: 35px;
  cursor: pointer;
  color: tomato;
}
.important:hover{
  color: rgb(202, 95, 77);
}