h1{
  color: rgb(187, 216, 238);
  text-align: center;
  background-color: #2b2626;
  padding-bottom: 5px;
  margin-bottom: 0;
}
h3{
  color:rgb(130, 195, 214);
  text-align: center;
  font-weight: 400;
}
main{
  display: flex;
  min-height: calc(100vh - 44px);
  background-image: url('/img/tim-stief-dH6IjhWHNQQ-unsplash.jpg');
  background-size: cover;
}
#list{
  min-height: 60px;
  flex: 7;
  position: relative;
}
.btn-container{
  position: absolute;
  top: 5px;
  right: 10px;
}
#form{
  background-color: #767676cd;
  min-height: 60px;
  flex: 5;
  padding: 5px 50px;
  border: 1px solid #464646;
  box-shadow: -4px 0 -2 6px rgb(99, 118, 132);
}
.not-important{
  font-size: 35px;
  font-weight: 200;
  color: #6a6a6b;
  cursor: pointer;
}
.not-important:hover{
  color: tomato;
}
.important {
  font-size: 35px;
  cursor: pointer;
  color: tomato;
}
.important:hover{
  color: rgb(202, 95, 77);
}
#pendingTasks{
  padding: 10px 30px;
  text-align: center;
  display: flex;
  flex-direction: column-reverse;
}
.task{
  padding: 5px 20px;
  display: flex;
  margin: 10px 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.782);
  align-items: center;
}
.task .info{
  flex: 5;
}
.task .info h5{
  margin: 5px 10px;
}
.task .info p{
  margin: 0;
}
.task label{
  flex: 2;
}
.task .dates{
  flex: 0;
}
#custom-alert {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.alert-message {
  padding: 10px;
  font-size: 16px;
  text-align: center;
}
#alert-close {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.iImportant{
  font-size: 28px;
  color: #333;

}
.iNotImportant{
  font-size: 28px;
  color: #333;
}
.iDelete {
  font-size: 28px;
  cursor: pointer;
  color: #333;
}
.iDelete:hover{
  color: crimson;
}